<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<!--poppup-->
<div class="modal" style="display: none;" data-target="history">
    <div class="modal-dialog modal-l modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Administrator account History</h5>
                <button type="button" class="btn-close" th:onclick="closeHistoryView()"></button>
            </div>
            <div class="databox" th:fragment="searchBox(dateRangeSelect , keywordTypeSelect)">
                <div class="data-linebox">
                    <div class="data-line">
                        <div class="data-title">Date</div>
                        <div class="data-group">
                            <input type="date" class="form-control form-control-user" id="startDt" placeholder="YYYY.MM.DD" >
                            <span>-</span>
                            <input type="date" class="form-control form-control-user" id="endDt" placeholder="YYYY.MM.DD" >
                        </div>
                    </div>
                </div>
                <div class="data-btn">
                    <button class="btn btn-primary" type="button" onclick="search()">
                        Search
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <!--<div class="left datatable-dropdown">
                        <label>
                            <select class="datatable-selector" th:onchange="viewCountSelect(this)">
                                <option th:selected="${paging.getDisplayRow()} == '5'" value="5">5</option>
                                <option th:selected="${paging.getDisplayRow()} == '10'" value="10" selected>10</option>
                                <option th:selected="${paging.getDisplayRow()} == '15'" value="15">15</option>
                                <option th:selected="${paging.getDisplayRow()} == '20'" value="20">20</option>
                                <option th:selected="${paging.getDisplayRow()} == '25'" value="25">25</option>
                            </select>
                        </label>
                    </div>
                    <div class="left"><p th:text="${totalCount} + ' items'" ></p></div>-->
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date/Time</th>
                            <th>IP</th>
                        </tr>
                        </thead>
                        <tbody data-target="historyBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" th:onclick="closeHistoryView()" >Close</button>
            </div>
        </div>
    </div>
</div>
<div data-target="historyBackground"></div>
</html>