<!DOCTYPE html>
<html lang="en">
    <div class="modal" data-target="modal" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body alert-pop">
                    <div class="modal-textbox" >
                        <p data-select="alertText">Are you sure you want to Recall?Are you sure you want to Recall?Are you sure you want to Recall?Are you sure you want to Recall?Are you sure you want to Recall?</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="closeAlert()">OK</button>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="modal-backdrop" data-target="background"></div>-->
    <div data-target="background"></div>
</html>