<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<!--poppup-->
<div class="modal" style="display:none;" data-target="view">
    <div class="modal-dialog modal-l modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contract View</h5>
                <button type="button" class="btn-close" th:onclick="closeContractView()"></button>
            </div>
            <div id="target-pdf" class="modal-body document-box">
                <div class="document">
                    <div class="document-cont">
                        <div class="modal-img"><img th:src="@{/static/img/SDIHUCI.jpg}"></div>
                        <table class="table-list">
                            <thead>
                            <tr>
                                <th class="col-6" data-select="contractTitleHu" style="font-size:9pt;">MUNKASZERZŐDÉS MÓDOSÍTÁSA</th>
                                <th class="col-6" data-select="contractTitleEn" style="font-size:9pt;">AMENDMENT OF EMPLOYMENT CONTRACT</th>
                            </tr>
                            </thead>
                            <tbody style="padding-left:20px; padding-right:20px">
                            <tr>
                                <td class="col-6" data-select="contentsHu" style="font-size:9px;">
                                    <!--                                    <p>a <strong>SAMSUNG SDI Magyarország Zrt.</strong> (székhely: 2131 Göd, Schenek István utca 1.;), mint munkáltató (a továbbiakban: „Munkáltató”) és</p>-->
                                    <!--                                    <p>….이름.… (dolgozó azonosító: …사번… ), mint munkavállaló (a továbbiakban: „Munkavállaló”)</p>-->
                                    <!--                                    <p>(a továbbiakban együttesen: „Szerződő felek”) között az alulírott helyen és napon az alábbi feltételek szerint: </p>-->
                                    <!--                                    <P>1. Szerződő felek a közöttük 2018.08.21. napján létrejött munkaszerződést (a továbbiakban: „Munkaszerződés”) 2023.12.01. kezdődő hatállyal, közös akarattal az alábbiak szerint módosítják:</P>-->
                                    <!--                                    <p>Továbbá</p>-->
                                </td>
                                <td class="col-6" data-select="contentsEn" style="font-size:9px;">
                                    <!--  <p>the <strong>SAMSUNG SDI Magyarország Zrt.</strong> (registered seat: 2131 Göd Schenek István u. 1.;), as employer (hereinafter: „Employer”) and</p>
                                      <p>…이름… (employee No.: …사번…), as employee (hereinafter „ Employee”)</p>
                                      <p>(hereinafter jointly referred to as „Contracting parties”) at the place and on the date below under the following conditions:</p>
                                      <p>1. Contracting parties modify by mutual consent the employment contract concluded on 21/08/2018 made by and between them (hereinafter: “Employment contract”) with effect from 2023.12.01. under the following:</p>
                                      <p>In addition:</p>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="document-sigbox">
                            <p class="sigtxt" data-select="contractInfoHu" style="font-size:9px;">Kelt / Place and date of signing: Göd, 2023.12.01.</p>
                            <div class="document-sig">
                                <div class="modal-sigbox">
                                    <div class="modal-sig">
                                        <div class="modal-comimg"></div>
                                        <div class="modal-signtxt" style="font-size:9px;"><p data-select="employeeInfoHu">Yi Hyun Chang<br>Elnök/President<br>Munkáltató/Employer<br>Samsung SDI Magyarország Zrt.</p></div>
                                    </div>
                                </div>
                                <div class="modal-sigbox">
                                    <div class="modal-sig">
                                        <div class="modal-signimg">SIGN HERE</div>
                                        <div class="modal-signtxt"><p data-select="employeeInfoEn">Yi Hyun Chang<br>Elnök/President<br>Munkáltató/Employer<br>Samsung SDI Magyarország Zrt.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-download" type="button" class="btn btn-primary" data-target="statusBtn"  th:onclick="createPdfDownload()">Create</button>
                <button type="button" class="btn btn-secondary" th:onclick="closeContractView()">Close</button>
                <!--${session.loginInfo == null}-->
                <button type="button" class="btn btn-primary" data-target="statusBtn" th:if="${session.loginInfo.accountType == 'ACCT001'}" th:onclick="rejectConfirm()">Reject</button>
                <button type="button" class="btn btn-primary" data-target="statusBtn" th:if="${session.loginInfo.accountType == 'ACCT001'}" th:onclick="openAgreementAlert()" >Agreement</button>
                <!--                <button type="button" class="btn btn-primary" data-target="statusBtn" th:onclick="rejectConfirm()" >Reject</button>-->
                <!--                <button type="button" class="btn btn-primary" data-target="statusBtn"  th:onclick="contractComplete()" >Agreement</button>-->
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-backdrop"></div>-->
<div data-target="background"></div>
<!--poppup end-->
</html>