<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div class="list-paging">
        <div class="dataTables_paginate paging_simple_numbers" >
            <ul class="pagination">
               <div th:text="${paging}"></div>
<!--                <li class="paginate_button page-item previous" th:classappend=" 1 == ${paging.getCurrentPage()} ? 'disabled'">-->
<!--                    <a href="javascript:void(0)" class="page-link" th:onclick="'searchList(' + ${paging.getPrevPage()} + ', ' + ${paging.getDisplayRow()} + ', ' + ${totalCount} + ')'" aria-label="Previous"><</a>-->
<!--                </li>-->
<!--                <li class="paginate_button page-item next"><a href="#" class="page-link">></a></li>-->
            </ul>
        </div>
    </div>
</html>