<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.framework.mapper.contract.documented.ContractProgressMapper">
    <sql id="whereClause">
        and c.process_status in ('PRCS2001' ,'PRCS2002')
        and c.doc_status in('PRCS1001','PRCS1002')
        <if test="(startDt != null and startDt != '') and (endDt != null and endDt != '')">
            <choose>
                <when test="searchDateType == 'CREATED_AT'">
                    AND c.created_at BETWEEN DATE(#{startDt}) AND DATE_ADD(DATE(#{endDt}), INTERVAL 1 DAY)
                </when>
                <when test="searchDateType == 'UPDATED_AT'">
                    AND c.updated_at BETWEEN DATE(#{startDt}) AND DATE_ADD(DATE(#{endDt}), INTERVAL 1 DAY)
                </when>
                <when test="searchDateType == 'ALL'">
                    AND c.created_at BETWEEN DATE(#{startDt}) AND DATE_ADD(DATE(#{endDt}), INTERVAL 1 DAY)
                    AND c.updated_at BETWEEN DATE(#{startDt}) AND DATE_ADD(DATE(#{endDt}), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="@com.samsung.framework.common.utils.StringUtil@isNotEmpty(searchKeyword)">
            <choose>
                <when test="searchKeywordType == 'TITLE'">
                    and ct.template_title like concat('%',#{searchKeyword},'%')
                </when>
                <when test="searchKeywordType == 'EMPLOYEE_ID'">
                    and c.emp_no like concat('%',#{searchKeyword},'%')
                </when>
                <when test="searchKeywordType == 'NAME'">
                    and c.name like concat('%',#{searchKeyword},'%')
                </when>
                <when test="searchKeywordType == 'ALL'">
                    and c.emp_no like concat('%',#{searchKeyword},'%')
                    or ct.template_title like concat('%',#{searchKeyword},'%')
                    or c.name like concat('%',#{searchKeyword},'%')
                </when>
            </choose>
        </if>
        <if test="contractDocStatusType != 'ALL' and @com.samsung.framework.common.utils.StringUtil@isNotEmpty(contractDocStatusType)">
            and LOWER(c.doc_status) LIKE LOWER(CONCAT('%',#{contractDocStatusType} , '%'))
        </if>
        <if test="contractStatusType != 'ALL' and @com.samsung.framework.common.utils.StringUtil@isNotEmpty(contractStatusType)">
            and LOWER(c.process_status) LIKE LOWER(CONCAT('%',#{contractStatusType} , '%'))
        </if>
    </sql>
    <select id="getContractProgressList" parameterType="SearchVO" resultType="ContractVO">
               SELECT c.contract_no /*getContractProgressList*/
                    , c.emp_no
                    , c.template_seq
                    , c.doc_status
                    , c.process_status
                    , c.signature_data_no
                    , c.validation
                    , c.agree_yn
                    , c.del_yn
                    , c.created_by
                    , c.created_at
                    , c.updated_by
                    , c.updated_at
                    , ct.template_title
                    , c.name
                    , ctd.contract_title_en
                    , c.dept_code
                    , c.sign_date
                    , date_format(c.assigned_at ,'%Y-%m-%d') as assigned_at
                    , c.assigned_by
                 from contracts c
                 join contract_template ct
                   on c.template_seq = ct.template_seq
                 join contract_template_details ctd
                   on ct.template_seq = ctd.template_seq
        where c.del_yn = 'N'
        <include refid="whereClause"/>
          order by c.created_at desc

        LIMIT #{paging.displayRow} OFFSET #{paging.offset}
    </select>

    <select id="getContractProgressTotal" resultType="int" parameterType="SearchVO">
            select count(c.contract_no)
              from contracts c
              join contract_template ct
                on c.template_seq = ct.template_seq
              join contract_template_details ctd
                on ct.template_seq = ctd.template_seq
             where c.del_yn = 'N'
            <include refid="whereClause"/>
    </select>

    <update id="updateContractDocStatus" parameterType="java.util.List">
        <if test="@com.samsung.framework.common.utils.StringUtil@isNotEmpty(list)">
            <foreach collection="list" item="item" separator=";" close=";">
                update contracts
                   set doc_status = #{item.docStatus}
                 where contract_no = #{item.contractNo}
            </foreach>
        </if>
    </update>

    <update id="updateContractDocStatusInfo">
        <if test="@com.samsung.framework.common.utils.StringUtil@isNotEmpty(contractNo)">
            update contracts
               set doc_status = #{docStatus}
                 , updated_by = #{updatedBy}
                 , updated_at = now()
                 , assigned_at = now()
                 , assigned_by = #{updatedBy}
             where contract_no = #{contractNo}
        </if>
    </update>

    <select id="getContractProgressInfo" parameterType="String" resultType="ContractVO">
           select  c.contract_no /*getContractProgressInfo - 진행 중인 계약서 view*/
                , c.emp_no
                , c.template_seq
                , c.doc_status
                , c.process_status
                , c.signature_data_no
                , c.validation
                , c.agree_yn
                , c.del_yn
                , c.created_by
                , c.created_at
                , c.updated_by
                , c.updated_at
                , ct.template_title
                , u.name
                , c.sign_date
                , ctd.contract_title_en
                , u.dept_code
                , date_format(c.assigned_at ,'%Y-%m-%d') as assigned_at
        , c.assigned_by
             from contracts c
             join contract_template ct
               on c.template_seq = ct.template_seq
             join users u
               on c.emp_no = u.emp_no
             join contract_template_details ctd
               on ct.template_seq = ctd.template_seq
            where c.contract_no = #{seq}
    </select>
    <update id="updateProgressStatus">
        update contracts
        set process_status = 'PRCS2002'
        where contract_no = #{contractNo}
    </update>
</mapper>