<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.framework.mapper.contract.documented.ContractCreationMapper">
    <insert id="saveContract" parameterType="ContractVO">
        <selectKey keyProperty = "contractNo" resultType="int" order="BEFORE">
            select COALESCE(max(contract_no), 1) + 1  as contractNo
            from contracts
        </selectKey>
        INSERT INTO contracts (  contract_no
                              , emp_no
                              , template_seq
                            , name
                            , validation
                            , created_at
                            , agree_yn
                            , del_yn
                              , dept_code
                              , doc_status
                              , process_status
                              , hire_date_hu
                              , hire_date_en
                              , salary_hu
                              , salary_en
                              , created_by
                              , contract_date_hu
                              , contract_date_en
                              )
                        VALUES( #{contractNo}
                              , #{empNo}
                              , #{templateSeq}
                            , #{name}
                            , #{validation}
                            , now()
                            ,#{agreeYn}
                            ,#{delYn}
                              , #{deptCode}
                              , #{docStatus}
                              , #{processStatus}
                              , #{hireDateHu}
                              , #{hireDateEn}
                              , #{salaryHu}
                              , #{salaryEn}
                              , #{createdBy}
                              , #{contractDateHu}
                              , #{contractDateEn}
                               )

    </insert>
    <insert id="saveContractDetail" parameterType="ContractVO">
        insert into individual_contract_template_details (
                                                            template_details_seq
                                                            , contract_no
                                                            , emp_no
                                                            , contract_title_en
                                                            , contract_title_hu
                                                            , contents_en
                                                            , contents_hu
                                                            , contract_info_en
                                                            , contract_info_hu
                                                            , employer_info_en
                                                            , employer_info_hu
                                                            , employee_info_en
                                                            , employee_info_hu
                                                            , created_by
                                                            , created_at
                                                            )
                                                     values(
                                                              #{templateDetailsSeq}
                                                            , #{contractNo}
                                                            , #{empNo}
                                                            , #{contractTitleEn}
                                                            , #{contractTitleHu}
                                                            , #{contentsEn}
                                                            , #{contentsHu}
                                                            , #{contractInfoEn}
                                                            , #{contractInfoHu}
                                                            , #{employerInfoEn}
                                                            , #{employerInfoHu}
                                                            , #{employeeInfoEn}
                                                            , #{employeeInfoHu}
                                                            , #{createdBy}
                                                            , now()
                                                            )

    </insert>

    <insert id="saveFilePath" parameterType="FilePublicVO">
        <!--SaveFilePath-->
        INSERT INTO file_pdf
        (
            file_seq,
            original_name,
            name,
            file_no,
            extension,
            storage_path,
            size,
            del_yn,
            created_by,
            created_at
        )
            VALUES(
            #{fileSeq},
            #{originalName},
            #{name},
            #{fileNo},
            #{extension},
            #{storagePath},
            0,
            #{delYn},
            #{createdBy},
            now()
        )
    </insert>
</mapper>