<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.framework.mapper.contract.documented.ContractsViewMapper">
    <select id="getContractView" resultType="ContractView">
                 select c.contract_no
                      , c.contract_date_hu
                      , c.contract_date_en
                      , ictd.contract_title_en
                      , ictd.contract_title_hu
                      , ictd.contents_en
                      , ictd.contents_hu
                      , ictd.contract_info_en
                      , ictd.contract_info_hu
                      , ictd.employee_info_en
                      , ictd.employee_info_hu
                      , ictd.employer_info_en
                      , ictd.employer_info_hu
                   from contracts c
                   join individual_contract_template_details ictd
                     on c.contract_no = ictd.contract_no
                  where c.contract_no = #{contractNo}
    </select>
</mapper>