<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.framework.mapper.contract.documented.ContractCreationMapper">
    <insert id="saveContract" parameterType="ContractVO">
        INSERT INTO contracts (  emp_no
                              , template_seq
        , name
        , validation
        , created_at
        , agree_yn
        , del_yn
                              , dept_code
                              , doc_status
                              , process_status
                              , hire_date_hu
                              , hire_date_en
                              , created_by
                              , contract_date_hu
                              , contract_date_en
                              )
                        VALUES( #{empNo}
                              , #{templateSeq}
        , #{name}
        , #{validation}
        , now()
        ,#{agreeYn}
        ,#{delYn}
                              , #{deptCode}
                              , #{docStatus}
                              , #{processStatus}
                              , #{hireDateHu}
                              , #{hireDateEn}
                              , #{createdBy}
                              , #{contractDateHu}
                              , #{contractDateEn}

                               )

    </insert>

</mapper>