spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    jdbc-url: jdbc:log4jdbc:mariadb://10.34.220.195:3307/electronic_contract?allowMultiQueries=true
    username: sdi_hungary_db
    password: contract$@salary
    hikari:
      maximum-pool-size: 10
      connection-timeout: 10000
      validation-timeout: 500
  security:
    user:
      password: 0000
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false
    encoding: UTF-8
  mvc:
    static-path-pattern: "/static/**"
  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    port: 587
    username: dejayframework@gmail.com
    password: tvrx phxd gheh bcps
    properties:
      mail:
        debug: true
        mine:
          charset: UTF-8
        transport:
          protocol: smtp
        smtp:
          starttls:
            enable: true
## mapper logging level
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: info
    com:
      samsung:
        framework:
          mapper: trace
## Log Level Setting(default info)
    root: error
## Hikari Pool Log Level Setting
    com.zaxxer.hikari: debug

server:
  port: 3030

# file
file:
  rootDir: \files\electronicContract
  tempDir: \temp
  realDir: \upload

encryption:
  salt: C7fSALM5ffwTHsUkwgLiiaPgkmeVbjRn1Tac7cL1B8OtopSBXi6gqbKyQlr+cA5UIbOLAvz8PeQ3H3NjxEcE03CqyRw1Jq4jI4YVYYhG5FYQYKEJDy5m1p3h8qJRf43xMIw86r989tvZVz0xkV1ZAJKUYqY6EKeHKT8FpBMDS70=