<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">

<!-- Head-->
    <nav class="navbar navbar-expand navbar-light topbar static-top" th:if="${session.loginInfo != null}">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:if="${session.loginInfo.adminId == null}" th:href="@{/contract/sign/wait}"><div class="sidebar-brand-text"><img src="/static/img/SDI_Eng_Right.png"><span>Employment Contract System</span></div></a>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:if="${session.loginInfo.adminId != null}" th:href="@{/contract/progress}"><div class="sidebar-brand-text"><img src="/static/img/SDI_Eng_Right.png"><span>Employment Contract System</span></div></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item no-arrow">
                <a th:if= "${session.loginInfo == null}" class="nav-link" href="/account/login"><span class="nav-text">LOG-IN</span></a>
                <a th:if= "${session.loginInfo != null}" class="nav-link " th:href="@{/account/myInfo}">
                    <span class="nav-text" th:text="${session.loginInfo.name}"><i class="fas fa-user-circle nav-icon"></i></span>
                </a>
            </li>
            <div th:if= "${session.loginInfo != null}" class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item no-arrow">
                <a th:if= "${session.loginInfo != null}" class="nav-link " href="/account/logout" >
                    <span class="nav-text"><i class="fas fa-sign-out-alt nav-icon"></i>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</html>