<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">

<!-- Head-->
    <div id="wrapper">
        <!-- Begin Header -->
        <div class="header">
            <h2 class="header-child left">ADMIN</h2>
            <a th:if= "${session.loginInfo == null}" href="/login"><h2 class="header-child right">LOG-IN</h2></a>
            <div th:if= "${session.loginInfo != null}">
                <h2  th:text="${session.loginInfo.name}" class="header-child right"></h2>
                <form action="/account/logout" method="post">
                    <button type="submit"><span>로그아웃</span></button>
                </form>
            </div>
        </div>
    </div>
</html>