<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link th:href="@{/static/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
        <!--<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}" />
        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/font.css}" />

        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/jquery/jquery-3.7.1.min.js}"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/jquery/jquery-ui.min.js}"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/dist/xlsx.full.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/static/lib/jquery/jquery-ui.min.css}"/>
        <!-- 전자서명 -->
        <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/js/signaturePad.js}"></script>
        <!-- 테스트를 위해서 -->

        <!-- 공통 calenadr를 위한 datepicker -->
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/js/dateUtil.js}"></script>
    </head>
</th:block>

</html>