<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">계약서 템플릿</h1>
                <!--search box-->
                <div th:replace="~{common/defaultSearch :: searchBox(${dateRangeSelect} ,${keywordTypeSelect}) }" ></div>
                <div class="card shadow mb-4">
                    <!--viewcount drop down box-->
                    <div th:replace="~{common/viewCount}"></div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Template Code</th>
                                    <th>Template Title</th>
                                    <th>Template Type</th>
                                    <th>Contract Title (EN)</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                    <input type="hidden" name="totalCount" id="totalCount" th:value="${totalCount}">
                                    <tr  th:if="${not #lists.isEmpty(list)}" th:each="item, stat : ${list}">
                                        <td th:text="${item.templateSeq}"></td>
                                        <td th:text="${item.templateTitle}"></td>
                                        <td th:text="${item.templateType}"></td>
                                        <td th:text="${item.contractTitleEn}"></td>
                                        <td th:text="${item.createdAt}"></td>
                                        <td th:text="${item.updatedAt}"></td>
                                        <td><a th:href="@{/contract/template/info/{seq}(seq=${item.templateSeq})}"> View</a> <br>
                                            <a th:href="@{/contract/template/edit/{seq}(seq=${item.templateSeq})}">Edit</a>
                                        </td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(list)}">
                                        <td colspan="9" th:text="|데이터가 없습니다.|"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--pagination-->
                        <div th:replace="~{common/pagination}"></div>
                    </div>
                </div>
            </div>
            <!--contents-->
        </div>
    </div>
    <!--Content Wrapper -->
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function(){
            /*리스트 조회 호출 */
            getList();
        });
        function getList(param){
            let search;
            if(typeof param =='undefined' ){
                // 첫 호출 일 때
                search = setData();
            }else{
                search = param;
            }
            $.ajax({
                url: '/contract/template/list',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(search)
            }).done(function(data) {
               $('#content').replaceWith(data);
            }).fail(function(jqXHR) {
                sendToErrorPage(jqXHR);
            });
        }
    </script>
</th:block>
</html>