<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<style>
    /* 하이라이트 스타일 정의 */
    .highlight {
        background-color: yellow;
    }
</style>

    <th:block layout:fragment="content">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!--content-->
                <div class="container-fluid">
                    <h1 class="page-title">Contract template detail</h1>
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Template Info.</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <input type="hidden" id="templateSeq" th:value="${info.getTemplateSeq()}">
                                <table class="table-list">
                                    <tbody>
                                    <tr>
                                        <th class="col-2">Template no.</th>
                                        <td th:text="${info.getTemplateSeq()}">00000019</td>
                                        <th>Memo</th>
                                        <td th:text="${info.getMemo()}">2023년 생산 무기계약직 전용 계약서_수정(23.09.11)</td>
                                    </tr>
                                    <tr>
                                        <th>Template Title</th>
                                        <td th:text="${info.getTemplateTitle()}">생산파트 무기계약직 계약서</td>
                                        <th>Created</th>
                                        <td th:text="${info.getCreatedAt()} +' , '+${info.getCreatedBy()}">2023-09-10  08:14:59 , admin12</td>
                                    </tr>
                                    <tr>
                                        <th>Template Type</th>
                                        <td th:text="${info.getTemplateType()}">무기계약직 계약서</td>
                                        <th>Modified</th>
                                        <td th:text="${info.getUpdatedAt()} ? ${info.getUpdatedAt()} +' , '+${info.getUpdatedBy()} : '-'">2023-09-11  16:03:01 , admin34</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Contract details</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table-list">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Hungarian</th>
                                        <th>English</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <th class="col-2">Contract Title</th>
                                        <td th:utext="${info.contractTitleHu}" id="contractTitleHu">Munkaszerződés</td>
                                        <td th:utext="${info.contractTitleEn}" id="contractTitleEn">Employment contract</td>
                                    </tr>
                                    <tr>
                                        <th>Contract Detail</th>
                                        <td th:utext="${info.contentsHu}" id="HuDetail"></td>
                                        <td th:utext="${info.contentsEn}" id="EnDetail"></td>
                                    </tr>
                                    <tr>
                                        <th>Contract Info</th>
                                        <td th:utext="${info.contractInfoHu}" id="contractInfoHu"></td>
                                        <td th:utext="${info.contractInfoEn}" id="contractInfoEn"></td>
                                    </tr>
                                    <tr>
                                        <th>Signature Area</th>
                                        <td th:utext="${info.employeeInfoHu}" id="employeeInfoHu" ></td>
                                        <td th:utext="${info.employeeInfoEn}" id="employeeInfoEn"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/contract/template}'|">List</button>
                        <button class="btn btn-primary" type="button" th:onclick="copy()">Copy</button>
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/contract/template/edit/{seq}(seq=${info.templateSeq})}'|">Edit</button>
                    </div>
                </div>
                <!--contents-->
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
        <!--    $(document).ready(function() {

              let contractTitleHu = $('#contractTitleHu').html();
              let highlightedTitleHu = contractTitleHu.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#contractTitleHu').html(highlightedTitleHu);

              let contractTitleEn = $('#contractTitleEn').html();
              let highlightedTitleEn = contractTitleEn.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#contractTitleEn').html(highlightedTitleEn);

              let contentHu = $('#HuDetail').html();
              let highlightContHu = contentHu.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#HuDetail').html(highlightContHu);

              let contentEn = $('#EnDetail').html();
              let highlightContEn = contentEn.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#EnDetail').html(highlightContEn);

              let contentHuInfoHu = $('#contractInfoHu').html();
              let highlightInfoHu = contentHuInfoHu.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#contractInfoHu').html(highlightInfoHu);

              let contentEnInfoEn = $('#contractInfoEn').html();
              let highlightInfoEn = contentEnInfoEn.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#contractInfoEn').html(highlightInfoEn);

              let contentHuEnemployHu = $('#employeeInfoHu').html();
              let highlightEnemployHu = contentHuEnemployHu.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#employeeInfoHu').html(highlightEnemployHu);

              let contentEnemployEn = $('#employeeInfoEn').html();
              let highlightEnemployEn = contentEnemployEn.replace(/{{(.*?)}}/g, '<span style="background-color: yellow;">{{$1}}</span>');
              $('#employeeInfoEn').html(highlightEnemployEn);

    });
-->
            let copy =() =>{
                let data = {'templateSeq' : $('#templateSeq').val()}
                $.ajax({
                  url: '/contract/template/copy',
                  type: 'post',
                  dataType:'json',
                  data:JSON.stringify(data),
                  contentType: 'application/json; charset=UTF-8',
                }).done(function(data) {
                    if(data.result > 0){
                        location.href='/contract/template/info/'+ data.templateSeq;
                    }else{
                        alert('관리자에게 문의 바랍니다.');
                        location.href='/contract/template';
                    }
                }).fail(function(jqXHR) {
                   sendToErrorPage(jqXHR);
                });
            }
        </script>
    </th:block>


</html>