<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">계약서 조회</h1>
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Contract Info.</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-list">
                                <input type="hidden" id="contractNo" th:value="${info.contractNo}">
                                <tbody>
                                <tr>
                                    <th class="col-2">Contract Title</th>
                                    <td th:text="${info.contractNo}">00000019</td>
                                </tr>
                                <tr>
                                    <th>Sending Company</th>
                                    <td>SAMSUNG SDI Hungary</td>
                                </tr>
                                <tr>
                                    <th>Contracting Party</th>
                                    <td th:text="${info.name} + '/' + ${info.deptCode}">2023-09-10  08:14:59 , admin12</td>
                                </tr>
                                <tr>
                                    <th>Assigned</th>
                                    <td th:text="${info.assignedAt}">2023-09-10  08:14:59 , admin12</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-area-box">
                    <div class="btn-area-left">
                        <button class="btn btn-primary" type="button" th:onclick="'viewContract('+${info.contractNo}+')'">View Contract</button>
                        <button class="btn btn-primary" type="button" th:onclick="'viewHistory('+${info.contractNo}+')'">View History</button>
                    </div>
                </div>
            </div>
            <!--contents-->
            <div th:replace="~{common/contractView}"></div>
            <div th:replace="~{common/contractProgressHistory}"></div>
            <div th:replace="~{common/rejectPopup}"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>>

</html>