.contract-content{
    padding-right:50px;
    color: #3a3b45;
    font-size: 12px;
}

.contract-footer-color{
    color:#858796;
    padding-bottom: 10px;
    font-size:10px;
}

.contract-footer-left{
    font-weight: 600;
    float: left;
}
.contract-footer-right{
    font-size: 10pt;
    font-weight: 600;
    float: right;
}
.modal-signimg {
    font-family: "times";
    color: #3a3b45;
    font-size: 9pt;
    background: #fff4df;
    width: 235px;
    height: 65px;
    text-align: center;
    padding: 25px;
}

.modal-signtxt{
    padding-top:40px;
    width:180px;
    height:100px;
    font-size:10px;
}

.modal-comimg{
    width: 235px;
    height: 65px;
    line-height: 65px;
}

.dot-img {
    width: 230px;
}

[data-select="contractInfoHu"] {
    font-weight: 700;
}

[data-select="contractTitleHu"] {
    font-weight: 700;
}

[data-select="contractTitleEn"] {
    font-weight: 700;
}

div,p,span {
    font-family: "times";
    font-size: 9pt;
}

p span {
    font-weight: 700;
}

.modal-img {
    width: 144px;
}

.document-sig {
    width: 650px;
}

#modal-left {
    padding-left: 40px;
}

#modal-right {
    padding-left: 25px;
}

[data-select="employeeInfoHu"] {
    text-align: center;
    padding-left: 30px;
}

[data-select="employeeInfoEn"] {
    text-align: center;
    padding-left: 30px;
}

