.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none;
    }
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02);
}

.modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    height: min-content;
    content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000; opacity: 0.5;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e3e6f0;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #3a3b45;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem;
}
.modal-body.alert-pop {
    text-align: center;
    height: 120px;
    line-height: 70px;
}
.modal-img {/* padding-left: 1rem; *//* padding-bottom: 0.5rem; */}
.modal-img img{width: 144px;}
.modal-img {
    width: 144px;
}
.modal-body .table-list{border-collapse: collapse;width: 100%;color: #858796;margin-top: 0.2rem;}
.modal-body .table-list th{padding: 0.6rem 1rem;vertical-align: top;font-size: 11pt;text-align: center;color: #3a3b45;}
.modal-body .table-list td {padding: 0.6rem 0.6rem;vertical-align: top;color: #3a3b45;text-align: justify;}
.modal-sigbox {float: left; width: 235px;}
.modal-sigbox p {font-size: 10pt;width: 235px;font-weight: 600;}
.modal-sig {border-bottom: 1px dotted #3a3b45;height: 70px; width: 235px;}
.modal-sig span {display: inline-block;bottom: 5px;position: absolute;float: left;}
.modal-signimg {
    background: #fff4df;
    font-family: "times";
    font-size: 9pt;
    width: 235px;
    height: 35px;
    text-align: center;
    padding-top: 25px;
    color: #858796;
}
.modal-comimg {
    background: #fff;
    width: 235px;
    height: 65px;
    text-align: center;
    line-height: 65px;}
.modal-l .modal-body{max-height: 650px; overflow-y: scroll;}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 1.5rem;
    border-top: 1px solid #e3e6f0;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
    margin: 0.25rem;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px;
        margin: 1.75rem auto;
    }
    .modal-dialog.modal-l{
        max-width: 950px;
        margin: 1.75rem auto;
    }
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem);
    }
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.table-list{border-collapse: collapse;width: 100%;color: #858796;margin-top: 1.5rem;}
.table-list th{padding: 0.6rem 1rem;vertical-align: middle;/* border-bottom: 1px solid #e3e6f0; */text-align: left;color: #3a3b45;}
.table-list td {padding: 0.75rem 1rem;vertical-align: top;/* border-bottom: 1px solid #e3e6f0; */text-align: left;}
.modal-l .modal-body{max-height: 650px; overflow-y: scroll;}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem;
}
.modal-body.alert-pop {
    text-align: center;
    height: 120px;
    line-height: 70px;
}
.modal-img {/* padding-left: 1rem; *//* padding-bottom: 0.5rem; */}
/*.modal-img img{width: 9rem;}*/
.modal-body .table-list{border-collapse: collapse;width: 100%;color: #858796;margin-top: 0.2rem;}
.modal-body .table-list th{padding: 0.6rem 1rem;vertical-align: top;}
.modal-body .table-list td {padding: 0.6rem 0.6rem;vertical-align: top;color: #3a3b45;text-align: justify;}
.modal-sigbox {float: left;}
.modal-sigbox p {font-size: 10pt;margin: 20px 0 0;font-weight: 600;}
.modal-sig {border-bottom: 1px dotted #3a3b45;display: block;height: 70px;}
.modal-sig span {font-size: 0.8rem;display: inline-block;bottom: 5px;position: absolute;float: left;}
.modal-signimg {
    width: 235px;
    height: 65px;
    text-align: center;
}
.modal-comimg {background: #fff;
    width: 235px;
    height: 65px;
    text-align: center;
    line-height: 65px;}

#modal-left{
    float:left;
}
#modal-right{
    float: right;
}


td {
    font-family: "times";
    font-size: 9pt;
}

td p span {
    font-weight: 700;
}

[data-select="contractTitleHu"] {
    text-align: center;
}

[data-select="contractInfoHu"] {
    font-weight: 700;
    font-family: "times";
    color: #858796;
    font-size: 9pt;
}
[data-select="employeeInfoHu"] {
    font-weight: 700;
    font-family: "times";
    color: #858796;
    font-size: 9pt;
}

th {
    font-family: "times";
    text-align: center;
    width: 325px;
}
.modal-signtxt {
    font-family: "times";
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 235px;
}


