<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<head>

</head>
<th:block layout:fragment="css">
    <title>관리자 계정</title>
</th:block>
<th:block layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">관리자 계정</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-list">
                                <tbody>
                                    <tr>
                                        <th class="col-2">Last Name</th>
                                        <td th:text="${account.getLastName()}"></td>
                                    </tr>
                                    <tr>
                                        <th>First Name</th>
                                        <td th:text="${account.getFirstName()}"></td>
                                    </tr>
                                    <tr>
                                        <th>Admin ID</th>
                                        <td th:text="${account.getEmpNo()}"></td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td th:text="${account.getEmail()}"></td>
                                    </tr>
                                    <tr>
                                        <th>Last Log In</th>
                                        <td th:if="${account.getLastLoginStr()}!=''" th:text="${account.getLastLoginStr()}"></td>
                                        <td th:if="${account.getLastLoginStr()}==''">-</td>
                                    </tr>
                                    <tr>
                                        <th>Password changed</th>
                                        <td th:if="${account.getPasswordAtStr()}!=''" th:text="${account.getPasswordAtStr()}"></td>
                                        <td th:if="${account.getPasswordAtStr()}==''">-</td>
                                    </tr>
                                    <tr>
                                        <th>Created</th>
                                        <td th:if="${account.getCreatedAtStr()}!=''" th:text="${account.getCreatedAtStr()}"></td>
                                        <td th:if="${account.getCreatedAtStr()}==''">-</td>
                                    </tr>
                                    <tr>
                                        <th>Modified</th>
                                        <td th:if="${account.getUpdatedAtStr()}!=''" th:text="${account.getUpdatedAtStr()}"></td>
                                        <td th:if="${account.getUpdatedAtStr()}==''">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/account/admin}'|">List</button>
                    <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/account/admin/edit/{userId}(userId=${account.getEmpNo()})}'|">Edit</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</html>