<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<head>

</head>
<th:block layout:fragment="css">
    <title>관리자 계정 정보</title>
</th:block>
<th:block layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{common/alert2}"></div>
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">Edit Administrator Account</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-list">
                                <tbody>
                                <tr>
                                    <th class="col-2">Name</th>
                                    <td><input type="text" name="name" class="form-control form-control-user" th:placeholder="${account.getName()}" th:value="${account.getName()}" readonly></td>
                                </tr>
                                <tr>
                                    <th>Admin ID</th>
                                    <td><input type="text" class="form-control form-control-user" th:value="${account.getEmpNo()}" readonly></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><input type="text" name="email" class="form-control form-control-user" th:value="${account.getEmail()}"></td>
                                </tr>
                                <tr>
                                    <th>Last Log In</th>
                                    <td><input type="text" class="form-control form-control-user" th:if="${account.getLastLoginStr()}!=''" th:value="${account.getLastLoginStr()}" readonly></td>
                                    <td><input type="text" class="form-control form-control-user" th:if="${account.getLastLoginStr()}==''" readonly>-</td>
                                </tr>
                                <tr>
                                    <th>New Password</th>
                                    <td><input type="password" name="password" id="password" class="form-control form-control-user" placeholder=""></td>
                                </tr>
                                <tr>
                                    <th>Confirm New Password</th>
                                    <td><input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-user" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/account/admin}'|">Cancel</button>
                    <button class="btn btn-primary" type="button" th:onclick="edit([[${account.adminId}]])">Save</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function edit(adminId){
            let lastName = $('input[name=lastName]').val();
            let firstName = $('input[name=firstName]').val();

            if( (lastName!=='' && firstName==='') && (lastName==='' && firstName!=='') ){
                openAlert("lastName 또는 FirstName이 비어있습니다.");
                return false;
            }

            if($('input[name=email]').val() === '') {
                openAlert("Please enter a E-mail.");
                return false;
            }

            if($('input[name=password]').val() === '') {
                openAlert("Please enter your password.");
                return false;
            }

            if($('input[name=confirmPassword]').val() === '') {
                openAlert("Please enter your confirm new password.");
                return false;
            }

            const data = {
                name:  $('input[name=name]').val(),
                password: $('input[name=password]').val(),
                email: $('input[name=email]').val(),
                confirmPassword: $('input[name=confirmPassword]').val(),
                userId: adminId
            };

            if(data.password !== data.confirmPassword){
                openAlert("패스워드가 일치하지 않습니다.");
                return false;
            }

            $.ajax({
                url : '/account/api/admin/update',
                type : 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(data)
            })
            .done(function(data){
                let json = JSON.parse(data);
                if(json.code===400){
                    openAlert(json.message);
                } else{
                    openAlert(json.message);
                    location.href = "/account/admin"
                }
            })
            .fail(function(jqXHR) {
                sendToErrorPage(jqXHR);
            });
        }
    </script>
</th:block>
</html>