<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/board/common.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/board/list.css}"/>
        <title>임직원 계정</title>
    </head>
</th:block>
<th:block layout:fragment="content">
    <div id="content_wrapper">
        <div id="search_wrapper" class="bg-secondary p-1">
            <caption>검색</caption>
            <p>
                <span th:text="날짜"/>
                <select id="searchDateType" th:field="*{searchDateRangeOptionList}">
                    <option th:each="ele : ${searchDateRangeOptionList}" th:value="${ele.getCode()}" th:text="|${ele.getDisplayName()}|"></option>
                </select>

                <label for="sDate">시작일
                    <input type="text" id="sDate" name="sDate">
                </label>
                <label>~</label>
                <label for="eDate">종료일
                    <input type="text" id="eDate" name="eDate">
                </label>
            </p>
            <p>
                <span th:text="검색"></span>
                    <select id="searchKeywordType" th:field="*{searchKeywordTypeOptionList}">
                            <option th:each="ele : ${searchKeywordTypeOptionList}" th:value="${ele.getCode()}" th:text="|${ele.getDisplayName()}|"></option>
                    </select>
                    <input type="text" placeholder="검색어" name="searchWord1">
                    <input type="button" th:value="검색" th:onclick="'fnSearchList(1, '+ ${paging.getDisplayRow()} +', ' + ${totalCount} + ')'">
            </p>
        </div>
        <span id="totalCount" th:text="|전체 ${totalCount}개|"></span>
        <table id="rfrnc-table" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Full Name</th>
                    <th class="text-center" scope="col">Employee ID</th>
                    <th class="text-center" scope="col">Last LogIn</th>
                    <th class="text-center" scope="col">Created</th>
                    <th class="text-center" scope="col">Modified</th>
                    <th class="Action" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="accountList">
                <tr th:if="${not #lists.isEmpty(list)}" th:each="row, stat : ${list}">
                    <td th:text="${row.getName()}"></td>
                    <td th:text="${row.getEmpNo()}"></td>
                    <td th:text="${row.getLastLoginStr()}"></td>
                    <td th:text="${row.getCreatedAtStr()}"></td>
                    <td th:text="${row.getUpdatedAtStr()}"></td>
                    <td th:text="ViewEdit"></td>
                </tr>
            </tbody>
        </table>

    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let fnSearchList = (currentPage, displayRow, totalCount) =>{
            if($('#searchDateType option:selected').val() === 'UPDATED_AT') {
                if($('#sDate').val() === '' || $('#eDate').val() === '') {
                    alert('검색 날짜를 선택하세요.');
                    return false;
                }
            }

            if($('#searchKeywordType option:selected').val() !== 'ALL') {
                if( $('input[name=searchWord1]') === ''){
                    alert('검색어를 입력하세요.');
                    return false;
                }
            }

            const data= {
                accountVO : {
                    searchDateType: $('#searchDateType option:selected').val(),
                    startDt:  $('#sDate').val(),
                    endDt: $('#eDate').val(),
                    searchKeywordType: $('#searchKeywordType option:selected').val(),
                    searchWord1: $('input[name=searchWord1]').val()},
                paging: {
                    currentPage: currentPage,
                    displayRow: displayRow,
                    totalCount: totalCount
                }
            }

            $.ajax({
                url: '/account/employee/list',
                type: 'post',
                dateType: 'text',
                contentType: 'application/json; charset=UTF-8',
                data:JSON.stringify(data)
            })
                .done(function(data){

                })
        }




    </script>
</th:block>
</html>