<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<head>

</head>
<th:block layout:fragment="css">
    <title>임직원 계정</title>
</th:block>
<th:block layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">임직원 계정</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-list">
                                <tbody>
                                <tr>
                                    <th class="col-2">Last Name</th>
                                    <td th:text="${account.getName()}"></td>
                                </tr>
                                <tr>
                                    <th>First Name</th>
                                    <td th:text="${account.getName()}"></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td th:text="${account.getEmail()}"></td>
                                </tr>
                                <tr>
                                    <th>password</th>
                                    <td><input type="password" id="password" class="form-control form-control-user" placeholder=""></td>
                                </tr>
                                <tr>
                                    <th>Confirm Password</th>
                                    <td><input type="password" id="confirmPassword" class="form-control form-control-user" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/account/employee}'|">List</button>
                    <button class="btn btn-primary" type="button" th:onclick="edit([[${account.empNo}]])">Edit</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function edit(adminId){
            const data = {
                password: $('#password').val(),
                confirmPassword: $('#confirmPassword').val(),
                userId: adminId
            };
            if(data.password !== data.confirmPassword){
                alert("패스워드가 일치하지 않습니다.");
                return false;
            }

            if(data.password==='' && data.confirmPassword===''){
                alert("패스워드를 입력해주세요.");
                return false;
            }
            $.ajax({
                url : '/api/employee/update',
                type : 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(data)
            })
            .done(function(data){
                let json = JSON.parse(data);
                if(json.code===400){
                    alert(json.message);
                } else{
                    alert(json.message);
                    location.href = "/account/employee"
                }
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }
    </script>
</th:block>
</html>