<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<head>

</head>
<th:block layout:fragment="css">
    <title>로그인</title>
</th:block>
<th:block layout:fragment="content">
    <div th:replace="~{common/alert2}"></div>
    <!-- Content Wrapper -->
    <div class="container">
        <div class="row justify-content-center mt-5">

            <div class="col-xl-6 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Log In</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="ID" class="form-control form-control-user" id="userId" placeholder="Employee ID">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                                </div>
                                <a class="btn btn-primary btn-user btn-block mt-4" onclick="login()">Login</a>
                            </form>
                            <hr>

                            <div >
                                <p>※ If account verification is needed, please contact the contract manager.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $("#password").on("keyup", function(key){
            if(key.keyCode==13){
                login();
            }
        })
        $("#userId").on("keyup", function(key){
            if(key.keyCode==13){
                login();
            }
        })
        // 로그인 function
        function login() {
            let userId = document.getElementById("userId").value;
            let password = document.getElementById("password").value;

            // 아이디 비밀번호 유효성 검사
            if(!userId || !password){
                alert("사용자 아이디 또는 비밀번호를 입력해주세요.");
                return;
            }

            let member = {
                userId: userId,
                password: password
            }

            $.ajax({
                type : "POST",
                url  : "/account/login",
                contentType: "application/json",
                async:false, //동기 처리
                data: JSON.stringify(member)
            }).done(function(data) {
                    $.ajax({
                        type: "POST",
                        url : "/account/api/pwdChange/isExist",
                        contentType: "application/json",
                        data: JSON.stringify(member)
                    }).done(function(data){
                        if(data.exists){
                            if(data.adminIdCheck){ // 임직원 계정
                                location.href="/contract/sign/wait";
                            }else { // 어드민 계정
                                location.href="/contract/progress";
                            }
                        } else {
                            location.href="/account/pwdChange";
                        }
                    }).fail(function(jqXHR) {
                        console.log(jqXHR);
                    });
            }).fail(function(jqXHR) {
                let errors = JSON.parse(jqXHR.responseText);
                if(errors.code===983 || errors.code===984){
                    openAlert(errors.message);
                }
            });

        }
    </script>
</th:block>
</html>