<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samsung.framework.mapper.authority.AuthorityMapper">

    <insert id="saveMenuAuthList" parameterType="MenuAuthorityVO">
        INSERT INTO MENU_AUTHORIZATION
        (
            MENU_SEQ, AUTH_C, AUTH_R, AUTH_U, AUTH_D, AUTH_F, GRANT_TO, DISPLAY_YN, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
        )
        VALUES
        <foreach collection="list" item="item" open="(" close=")" separator="), (">
            #{item.menuSeq}, #{item.authC}, #{item.authR}, #{item.authU}, #{item.authD}, #{item.authF}, #{item.grantTo}, #{item.displayYn},"admin", sysdate() , "admin", sysdate()
        </foreach>
    </insert>

</mapper>