<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!--content-->
            <div class="container-fluid">
                <h1 class="page-title">계약서 조회</h1>
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Contract Info.</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-list">
                                <input type="hidden" id="contractNo" th:value="${info.contractNo}">
                                <tbody>
                                <tr>
                                    <th class="col-2">Contract Title</th>
                                    <td th:utext="${info.getContractTitleEn()}"></td>
                                </tr>
                                <tr>
                                    <th>Sending Company</th>
                                    <td>SAMSUNG SDI Hungary</td>
                                </tr>
                                <tr>
                                    <th>Contracting Party</th>
                                    <td th:text="${info.name}+ ' / ' + ${info.empNo}"></td>
                                </tr>
                                <tr>
                                    <th>Assigned</th>
                                    <td th:text="${info.signDateAtStr}?${info.signDateAtStr}:'-'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-area-box">
                    <div class="btn-area-left">
                        <button class="btn btn-primary" th:if="${info.docStatus} == 'PAPER_CONTRACT'" th:data-parameter1= "${info.getSignatureDataNo()}" type="button" th:onclick="viewPaperContract(this.getAttribute('data-parameter1'))">View Contract</button>
                        <button class="btn btn-primary" th:if="${info.docStatus} != 'PAPER_CONTRACT'" type="button" th:onclick="'viewContract('+${info.getContractNo()}+')'">View Contract</button>
                        <button class="btn btn-primary" type="button" th:onclick="'viewHistory('+${info.contractNo}+')'">View History</button>
                    </div>
                    <div class="btn-area-right">
                        <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/contract/sign/paper/comp}'|">List</button>
                    </div>
                </div>
            </div>
            <!--contents-->
            <div th:replace="~{common/paperViewContract}"></div>
            <div th:replace="~{common/completionContractView}"></div>
            <div th:replace="~{common/contractProgressHistory}"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>>

</html>