<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
  <style>
    /* 팝업창 스타일 */
    #popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border: 1px solid #ccc;
      z-index: 1000; /* 팝업창이 다른 요소 위에 표시되도록 설정 */
      display: none; /* 기본적으로 숨겨진 상태 */
    }

    #iframeContainer {
      width: 100%;  /* 팝업창 내 iframe 너비 100% */
      height: 500px; /* 팝업창 내 iframe 높이 설정 */
    }

    #closeButton {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  </style>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!--content-->
      <div class="container-fluid">
        <h1 class="page-title">Contract detail</h1>

        <input type = "hidden" id="InfoValue" th:value="${info.contractNo}">

        <div id="popup" style="display : none;">
          <iframe id="pdfTest2" width="1200" height="600px"></iframe>
          <span id="closeButton">닫기</span>
        </div>

        <div class="btn-area-box">
          <div class="btn-area-left">
            <div class="contractNo" th:text="no. + ${info.contractNo}">00000019</div>
            <h4 class="m-0 font-weight-bold text-primary" th:utext="${info.contractTitleEn}"></h4>
          </div>
          <div class="btn-area-right">
            <button class="btn btn-primary" th:if="${info.docStatus} == 'PAPER_CONTRACT'" th:data-parameter1= "${info.getSignatureDataNo()}" type="button" th:onclick="viewPaperContract(this.getAttribute('data-parameter1'))">View Contract</button>
            <button class="btn btn-outline-primary" th:if="${info.docStatus} != 'PAPER_CONTRACT'" id="viewPdfButton">View Contract</button>
          </div>
        </div>

        <hr>

        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table-list">
                <input type="hidden" id="contractNo" th:value="${info.contractNo}">
                <tbody>
                    <tr>
                      <th>Template Title</th>
                      <td th:text="${info.templateTitle}">생산파트 무기계약직 계약서</td>
                      <th>Created</th>
                      <td th:text="${info.createdAt} + ' , '+ ${info.createdBy} ">2023-09-10  08:14:59 , admin12</td>
                    </tr>
                    <tr>
                      <th>Sender</th>
                      <td>SAMSUNG SDI Hungary</td>
                      <th>Doc. Status</th>
                      <td th:text="${info.getDocStatus()}"></td>
                    </tr>
                    <tr>
                      <th>Party to a contract</th>
                      <td th:text="${info.firstName} + ' ' + ${info.lastName} + '/' + ${info.empNo}">Hong Gildong / 08015741</td>
                      <th>Contract Status</th>
                      <td th:text="${info.processStatus}">Unseen</td>
                    </tr>
                    <tr>
                      <th>Assigned date</th>
                      <td th:text="${info.assignedAt} ? ${info.assignedAt}: '-' ">2023-09-10  08:14:59</td>
                      <th>Reject date</th>
                      <td th:text="${info.updatedAt}">2023-09-10  08:14:59</td>
                    </tr>
                    <tr>
                      <th>Reason for Rejection</th>
                      <td th:text="${info.rejectReason}">rejectReason</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="btn-area-box">
          <div class="btn-area-left">
            <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/contract/sign/reject}'|" >List</button>
          </div>
          <div class="btn-area-right">
            <button id="btnViewHistory" class="btn btn-primary" type="button" th:onclick="'viewHistory('+${info.contractNo}+')'">View History</button>
          </div>
        </div>
      </div>
      <!--contents-->
      <div th:replace="~{common/contractView}"></div>
      <div th:replace="~{common/contractProgressHistory}"></div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">

  $("#openPopupButton").click(function() {
   $("#popup").show();
 });
   $("#viewPdfButton").click(function() {
      let templateSeq = document.getElementById("InfoValue").value;
      console.log("ContractNo !1! > "  + templateSeq);

      let data = {'seq' : templateSeq}
            $.ajax({
                url: "/contract/sign/reject/view/" + templateSeq,
                method: "GET",
                success: function(base64EncodedPdf) {
                  console.log("view TEST Success Data >>" + base64EncodedPdf);
                    var pdfUrl = "data:application/pdf;base64," + base64EncodedPdf;
                    $("#pdfTest2").attr("src", pdfUrl);
                       $("#popup").show();
                },
                error: function(xhr) {
                    alert("PDF 파일을 가져오지 못했습니다. (" + xhr.status + ")");
                }
            });
        });
  </script>
</th:block>>

</html>