<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
    <th:block layout:fragment="content">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!--content-->
                <div class="container-fluid">
                    <h1 class="page-title">진행 중 계약서</h1>
                    <div th:replace="~{common/contractProgressSearch}"></div>
                    <div class="card shadow mb-4">
                        <!--<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Template Info.</h6>
                        </div>-->
                        <div class="datatable-top">
                            <div class="left datatable-dropdown">
                                <label>
                                    <select class="datatable-selector">
                                        <option value="5">5</option>
                                        <option value="10" selected="">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option></select>
                                </label>
                            </div>
                            <div class="left"><p>22 items</p></div>
                            <div class="right data-btn-area">
                                <button class="btn btn-outline-secondary" type="button">Checked item as Recall</button>
                                <button class="btn btn-outline-primary" type="button">Checked item as Assign</button>
                                <button class="btn btn-outline-primary" type="button">Contract Create</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="data-check"><input class="form-check-input" type="checkbox"></th>
                                        <th>Contract<br>Issuance No.</th>
                                        <th>Template Title</th>
                                        <th>Contract Title (EN)</th>
                                        <th>Name</th>
                                        <th>employee ID</th>
                                        <th>Created</th>
                                        <th>Assigned</th>
                                        <th>Doc. Status</th>
                                        <th>Contract Status</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td class="data-check"><input class="form-check-input" type="checkbox"></td>
                                        <td>00000022</td>
                                        <td>2024년 경력직 근로 계약서</td>
                                        <td>Employment contract</td>
                                        <td>Hong gildong</td>
                                        <td>08015740</td>
                                        <td>2023-09-10</td>
                                        <td>2023-09-10</td>
                                        <td>Created</td>
                                        <td>Unseen</td>
                                        <td><a href="#" >View</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--pagination-->
                            <div th:replace="~{common/pagination}"></div>
                        </div>
                    </div>
                </div>
                <!--contents-->
            </div>
        </div>
    </th:block>
</html>