<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="~{common/alert2}"></div>
                <!--content-->
                <div class="container-fluid">
                    <h1 class="page-title">계약서 일괄생성</h1>
                    <div class="data-btn-area mb-3 text-right ">
                        <button class="btn btn-outline-primary" type="button">Upload Template Download</button>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="form" enctype="multipart/form-data">
                                    <table class="table-list">
                                        <tbody>
                                        <tr>
                                            <th class="col-2">Upload</th>
                                            <td>
                                                <div class="input-group">
                                                    <input type="file" id="file-input" data-select="fileInput" name="file" onchange="addFileText(this)" class="form-control form-control-user mr-2"  style="display:none;" placeholder="" multiple>
                                                    <label for="file-input" data-select="fileName" class="form-control form-control-user mr-2" ></label>
                                                    <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04" onclick="openFile()" >+ Upload File</button>
<!--                                                <input type="text" class="form-control form-control-user mr-2" placeholder="">-->
<!--                                                <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">+ Upload File</button>-->
                                                </div>
                                                <div class="mt-2"><p class="mb-0">※ Please upload the Excel file</p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="btn-area">
                        <button class="btn btn-primary" type="button" th:onclick="create()">Create</button>
                    </div>
                </div>
                <!--contents-->
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            let create = () =>{
                let form = $('#form')[0];
                let formData = new FormData(form);
                $.ajax({
                    type: 'post',
                    url: `/contracts/create/bulk-upload`,
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false
                }).done(function(data) {
                    var code = data.code;
                    var value = data.data;
                    if(code == 7){
                        // data 생성 실패
                        openAlert('The mass create has failed.  Employee No'+ value.empNo +' Please check the information.' , '');
                    }else if(code == 200){
                       openAlert('The creation was successful.Created'+ value.totalCount +' records.' , '');
                    }
                }).fail(function(jqXHR) {
                    console.log(jqXHR);
                });
            }
        </script>
    </th:block>
</html>